@model GuestService.Data.AddExcursionData

@using GuestService.Resources
@using System.Resources


<p>
Hi there,
</p>
<p>
this is notification that you have just added new excursion
@Model.ExcursionName via Partner area of EXGO. This excursion will be reviewed and it's settings will be adjusted to provide maximum user experience. If there is enough data the excursion will become available for online clients, if not you'll be contacted by our personnel.
</p>
<p>
Thank you for cooperating with EXGO!
</p>
<p>
Note: this is automatic message and it doesn't require the answer.
</p>