@model GuestService.Models.RegisterProviderModel
@{
    ViewBag.Title = AccountStrings.Get("RegisterTitle");
}  
<div class="container"> 	  
	<div class="row bk-main"> 	      
        <div class="col-lg-12 col-md-12">
			<h1 class="page-header">Registration completed</h1>			       
		</div>
        You will get an e-mail with a link to approve your e-mail address, and this allows you to enter personal area, however access to specific functions will be available after EXGO manager approval. EXGO manager will contact you in case of any issues arised. After approval you will see company name next to your login after signing in into personal area.
    </div>
</div>


