@{
    ViewBag.Title = "P";
}

<div style="background-color: green; height: 2000px; width: 2000px;">
    <img style="border: 1px solid red;" src="http://localhost:14378/guestservice/api/ru/excursion/catalogimage/44?i=0&w=200&h=130" />
    <br />
    <img style="border: 1px solid red;" src="http://localhost:14378/guestservice/api/ru/excursion/catalogimage/44?i=0&w=50&h=130" />
    <br />
    <img style="border: 1px solid red;" src="http://localhost:14378/guestservice/api/ru/excursion/catalogimage/44?i=0&w=200&h=50" />

</div>
