<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="reportServerDatabase" value="db"/>
  <add key="report_PrintVoucher" value="Voucher_Excurs.fr3"/>
  <add key="report_PrintInvoice" value="Touroperator_Invoice.fr3"/>

  <add key="urlLanguageDefault" value="ru"/>
  <add key="urlLanguageSupported" value="ru,en"/>
  <add key="urlLanguageUseBrowserPreferences" value="false"/>
  
  <!--<add key="guestDefaultPage" value="excursion/index"/>-->

  <add key="visualThemeDefault" value="green"/>
  <add key="visualThemeSupported" value="red,green,blue"/>
  
  
  <add key="isCacheDisabled" value="false"/>
  <add key="isHideDeparturePoints" value="true"/>

  <add key="excursionGeographySearchLimit" value="20"/>
  <add key="excursionDefaultPartnerAlias" value="price-partner"/> 
  <!-- <add key="excursionDefaultPartnerAlias" value="price-partner"/> -->
  <add key="excursionWithPriceOnlyCatalog" value="true"/>
  <add key="excursionDefaultDate" value="0"/>

  <add key="isShowBreadCrumb" value="true"/>
  <add key="isShowHotelGuideInfo" value="true"/>
 
  <add key="oauthMicrosoftClientId" value="test"/>
  <add key="oauthMicrosoftClientSecret" value="test"/>

  <add key="oauthTwitterConsumerKey" value=""/>
  <add key="oauthTwitterConsumerSecret" value=""/>

  <add key="oauthFacebookAppId" value=""/>
  <add key="oauthFacebookAppSecret" value=""/>
  
  <add key="oauthVKontakteAppId" value=""/>
  <add key="oauthVKontakteAppSecret" value=""/>

  <add key="oauthGoogle" value="True"/>

  <add key="requireRegisterConfirmation" value="True"/>
  <add key="accountMailNotifications" value="True"/>


  <add key="paymentPaypalSandbox" value="True"/>
   <add key="paymentPaypalUsername" value="vip_api1.orpheus-travel.com"/>
  <add key="paymentPaypalPassword" value="TFJV7NT5LWY6XXYK"/>
  <add key="paymentPaypalSinature" value="AzEIjBlG1T5ZuGWyHA3q3riu4c.kANmT3gXD2Q76eL6iKMTsut3LIUyD"/>

  <!-- 'Uniteller' payment system params -->
  <add key="unitellerShopId" value=""/>
  <add key="unitellerPassword" value=""/>
  <add key="smtp_server" value="smtp.yandex.ru"/>
  <add key="smtp_user" value="noreply@exgo.com"/>
  <add key="smtp_pass" value="p2bLuZklWC"/>
  <add key="smtp_port" value="587"/>
  <add key="smtp_use_ssl" value="true"/>
  <add key="partner_registation_email" value="al.prokopenya@gmail.com"/>
</appSettings>