<system.diagnostics>
  <trace autoflush="true"/>

  <sharedListeners>
    <add name="smFile"
         type="Sm.System.Trace.FileWriterTraceListener, Sm.System"
         initializeData="c:\inetpub\logs\guestservice\guestservice.{YYYY}{MM}{DD}.LOG"
               />
    <add name="smMail"
         type="Sm.System.Trace.MailSenderTraceListener, Sm.System"
         initializeData="Subj=Test log system. Time is {DD}.{MM}.{YYYY} {HH}:{mm}:{SS}; Mail=mail1@company.ru, mail2@company.ru; ErrorsOnly=False; CollectInterval=10;"
               />
  </sharedListeners>

  <sources>
    <source name="web" switchValue="Verbose">
      <listeners>
        <clear/>
        <add name="smFile"/>
      </listeners>
    </source>

    <source name="service" switchValue="Verbose">
      <listeners>
        <clear/>
        <add name="smFile"/>
      </listeners>
    </source>

    <source name="data" switchValue="Verbose">
      <listeners>
        <clear/>
        <add name="smFile"/>
      </listeners>
    </source>

    <source name="profiling" switchValue="Verbose">
      <listeners>
        <clear/>
        <add name="smFile"
             type="Sm.System.Trace.FileWriterTraceListener, Sm.System"
             initializeData="c:\inetpub\logs\guestservice\profiling.{YYYY}{MM}{DD}.LOG"
               />
      </listeners>
    </source>
  </sources>
</system.diagnostics>